.popup__image-card {
      width: 100%;
      aspect-ratio: 15.111/10;
      display: block;
      object-fit: cover;
   }
   
   @media (max-width: 850px) {
      .popup__image-card {
        max-width: 75vw;
        max-height: 75vh;
      }
    }
   
    @media (max-width: 470px) {
      .popup__image-card {
        aspect-ratio: 8.02/10;
      }
    } 
