.popup-card__close {
   position: absolute;
   width: 32px;
   height: 32px;
   top: -40px;
   right: -40px;
   background: none;
   box-shadow: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   border: none;
    }
    
.popup__close:hover {
   opacity: 0.6;
    }
    
@media (max-width: 600px) {
   .popup-card__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
      }
    }
    
