.profile {
  max-width: 880px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
}

@media (max-width: 900px) {
  .profile {
    max-width: 581px;
    flex-direction: column;
    gap: 22.25px;
    padding-top: 38.25px;
  }
}

@media (max-width: 600px) {
  .profile {
    max-width: 282px;
   gap: 28px;
  }
}
