.card__remove {
   background-image: url(../../../images/removecard.svg);
   background-position: cover;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   border: none;
   box-shadow: none;
   cursor: pointer;
   width: 18px;
   height: 19px;
   position: absolute;
   background-color: transparent;
   top: 20px;
   right: 20px;

}

.card__remove:hover {
  opacity: 0.5;
}