.logo {
   background-color: transparent;
   margin: 0;
   display: block; 
   width: 142px;
   height: 33px;
   box-sizing: border-box;
}


@media (max-width: 470px) {
   .logo__image {
      width: 103.74px;
      height: 24.4px;
   }
}


.logo:hover {
   opacity: 0.6;
}