.logo {
   background-color: #000;
   margin: 0;
   display: block; 
   width: 142px;
   height: 33px;
}


@media (max-width: 890px) {
   .logo__image {
      margin-left: 27px;
     
   }
}

@media (max-width: 470px) {
   .logo {
      width: 103.74px;
      height: 24.4px;
     
   }
}