.footer {
  max-width: 880px;
  margin: auto;
  padding-top: 67px;
  padding-bottom: 60px;
  box-sizing: border-box;
  height: 100%;
}

@media (max-width: 900px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    max-width: 581px;
  }
}

@media (max-width: 600px) {
  .footer {
    max-width: 282px;
  }
}
