.error {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: #ff0000;
  display: block;
  box-sizing: border-box;
  height: 12px;
  position: absolute;
  top: 38px;
}