.card__icon {
   background-image: url(../../../images/heart.svg);
   color: #000;
   background-position: cover;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   border: none;
   box-shadow: none;
   cursor: pointer;
   width: 22px;
   height: 19px;
   margin-right: 5px;
   background-color: transparent;

}

.card__icon:hover {
   opacity: 0.6;
}