.profile__description {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: column;
}

@media (max-width: 800px) {
  .profile__description {
    justify-content: center;
  }
}
