.profile__addbutton {
   background-color:#000;
   margin: 0;
   padding: 0;
   border: 2px solid white;
   background: none;
   box-shadow: none;
   cursor: pointer;
   width: 150px;
   height: 50px;
   display: flex;
   box-sizing: border-box;

}

.profile__addbutton:hover {
   opacity: 0.6;

}

@media (max-width: 400px) {
   .profile__addbutton {
      margin-top: 13.75px;
      width: 88.125vw;
   
     
     
   }
}