.card__title {
   margin: 0;
   justify-content: space-between;
   font-size: 24px;
   font-family: "Inter", "Arial", sans-serif;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   align-items: center;
   max-width: 200px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;

   
    } 
