.profile__editbutton {
   background-color:#000;
   margin: 0;
   padding: 0;
   border: none;
   background: none;
   box-shadow: none;
   cursor: pointer;
   position: absolute;
   right: -42px;
   bottom: 0;
   width: 24px;
   height: 24px;
 
}

.profile__editbutton:hover {
   opacity: 0.6;
}



@media (max-width: 470px) {
   .profile__editbutton {
     right: -34px;
    
     

     
   }
}
