.popup__container-img {
      width: 816px;
      background-color: transparent;
      position: relative;
      box-sizing: border-box;
      margin: auto;
    }
    
    @media (max-width: 850px) {
      .popup__container-img {
        max-width: 75vw;
       
      }
    }
    
