.popup__title {
   margin: 0;
   font-size: 24px;
   font-weight: 900;
   height: 23px;


}


@media (max-width: 560px) {
   .popup__title {
      font-size: 18px;
      height: 22px;
     
      

     
   }
}