.popup__title {
   margin: 0;
   font-size: 24px;
   font-weight: 900;
   font-style: normal;
   margin-bottom: 54px;
  
}


@media (max-width: 600px) {
   .popup__title {
      font-size: 18px;
      margin-bottom: 75px;
   }
}

