.profile__job {
   margin: 0;
   font-size: 18px;
   font-family: "Inter", "Arial", sans-serif;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-top: 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   max-width: 336px;
}


@media (max-width: 600px) {
   .profile__job {
      font-size: 14px;
      text-align: center;
      margin-top: 8px;
      max-width: 282px;  
   }
}