.popup-card__image {
   width: 100%;
   aspect-ratio: 15.111/10;
   display: block;
   object-fit: cover;
}

@media (max-width: 850px) {
   .popup-card__image {
     max-width: 75vw;
     max-height: 75vh;
   }
 }

 @media (max-width: 470px) {
   .popup-card__image {
     aspect-ratio: 8.02/10;
   }
 }