.popup__text {
   max-width: 358px;
   margin: auto;
   padding-top: 34px;
   padding-bottom: 37px;
   box-sizing: border-box;

}

@media (max-width: 600px) {
   .popup__text {
      width: 238px;
      
      

     
   }
}